[submodule ".agents/marketingskills"]
	path = .agents/marketingskills
	url = https://github.com/coreyhaines31/marketingskills.git
[submodule ".agents/stitch-skills"]
	path = .agents/stitch-skills
	url = https://github.com/google-labs-code/stitch-skills
	branch = main
[submodule ".agents/plugins/andrej-karpathy-skills"]
	path = .agents/plugins/andrej-karpathy-skills
	url = https://github.com/forrestchang/andrej-karpathy-skills
	branch = main
